
.header {
  padding: 30px;
  text-align: center;
  background: rgb(185, 139, 87, 0.95);
  outline-style: double;
  outline-color: white;
  outline-width: 5px;
  color: #ffffff;
  font-size: 14px;
}

.header img {
  /* float: left;
  width: 150px;
  height: 190px; */
  width: 25%;
  height: 25%;
  background: transparent;
}

.header h3 {
  position: relative;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-image: url("background.jpg");
}

#recipe-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px 16px;
}

/* On mouse-over, add a deeper shadow */
.individual-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.individual-card {
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  text-align: center;
  padding: 1rem;
  margin: 1rem 3rem;
  box-shadow: 0 16px 32px 0 rgba(100, 100, 100, 0.1);
  transition: 0.3s;
  text-shadow: 0 0 2px white;
}

img {
width: 300px;
height: 300px;
}

.card {
  /* border-style: solid;
  border-width: medium;
  border-color: rgb(185, 139, 87); */
  /* background-color: white;
  box-shadow: 0 4px 8px 0 rgb(185, 139, 87);
  transition: 0.3s;
  width: 300px;
  padding: 2px 16px; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


img {
width: 300px;
height: 300px;
}
