
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

.header {
  margin: 0;
  text-align: center;
  background: rgb(185, 139, 87, 0.95);
  outline-style: double;
  outline-color: white;
  outline-width: 5px;
  color: #ffffff;
  font-size: 25px;
}

.header img {
  /* float: left;
  width: 150px;
  height: 190px; */
  width: 25%;
  height: 25%;
  background: transparent;
}

.header p {
  position: relative;
  /* top: 18px;
  left: 10px; */
}

.home-button {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

body {
  background-image: url("background.jpg");
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  margin: 20px;
  background-color: rgba(250, 235, 215, 0.95);
  outline-style: double;
  outline-color: white;
  outline-width: 5px;
}

.recipe-image {
  width: 375px;
  padding: 5px;
  margin: 20px;
}

.recipe-description {
  width: 370px;
}